<div class="col-xs-2 feed__sidebar">
  <h3>Authors Like You</h3>
  <% @users.each do |user| %>
    <%= user.email %>
  <% end %>
</div>

<div class="col-xs-7 feed__main">
  <% @posts.each do |post| %>
    <div class="feed__post">
      <h2><%= post.title %></h2>
      <h4><%= time_ago_in_words(post.created_at) %> ago</h4>
      <p><%= post.body.html_safe %></p>
    </div>
  <% end %>
</div>

<div class="col-xs-3 feed__sidebar">
  <%= render partial: "sidebar", locals: {user: current_user} %>
</div>

<script>
  (function() {
    $('.avatar-upload-image').change(function() {
      $('.avatar-form').submit();
    });
  })()
</script>