<div class="col-xs-7 col-xs-offset-2 post--new">
  <div class="form">
    <%= form_for [@user, @post] do |f| %>
      <div class="form-group">
        <%= f.label :post_title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :post_body %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      
      <div class="note">psst! HTML is enabled, you can write with HTML tags and it will show up!</div>
  
      <%= f.submit "create post", class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>